<div class="styleguide-sidebar">
  <div class="inner">
    <img src="/themes/beaker/logo.svg" alt="Logo" class="styleguide-logo" />
    {{ items }}
    <div class="break"><br /></div>
  </div>
</div>
<div class="amazee-logo"></div>
