MYSQL_HOSTNAME=database
MYSQL_DATABASE=drupal
MYSQL_USER=drupal
MYSQL_PASSWORD=drupal
MYSQL_PORT=3306

APP_ENV=local

#Datadog key.
DD_API_KEY=yourSuperSecretKey
DEEPL_PRO_KEY=1234
ROKKA_API_KEY=yourAPIKEY
ROKKA_ORGANIZATION_NAME=yourOrg
