parameters:
  level: 0
  paths:
    - docroot/modules/custom
    - docroot/themes/custom
  excludePaths:
    - tests/*/data/*
  parallel:
    jobSize: 20
    maximumNumberOfProcesses: 4
    minimumNumberOfJobsPerProcess: 2
  customRulesetUsed: true
  reportUnmatchedIgnoredErrors: false
  # Ignore phpstan-drupal extension's rules.
  ignoreErrors:
    - "#^Unsafe usage of new static#"
    - '#\Drupal calls should be avoided in classes, use dependency injection instead#'
