<?xml version="1.0" encoding="UTF-8"?>
<!-- Using this project's bootstrap file allows tests in `ExistingSite`,
    `ExistingSiteSelenium2DriverTest`, and `ExistingSiteWebDriverTest`
     to run alongside core's test types. -->

<!-- If you use the default `bootstrap-fast.php` and get 'class not
     found' errors while running tests, head over to
     https://gitlab.com/weitzman/drupal-test-traits/-/blob/master/src/bootstrap-fast.php
     for explanation on how to register those classes.
-->
<phpunit bootstrap="vendor/weitzman/drupal-test-traits/src/bootstrap.php"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         cacheResult="false"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd">
  <php>
    <!-- Set error reporting to E_ALL. -->
    <ini name="error_reporting" value="32767"/>
    <!-- Do not limit the amount of memory tests take to run. -->
    <ini name="memory_limit" value="-1"/>
    <!-- Fallbacks only: an environment variable with the same name wins.
         http://localhost reaches Drupal from inside the ddev web container,
         whatever the project is named. -->
    <env name="SIMPLETEST_BASE_URL" value="http://localhost"/>
    <env name="SIMPLETEST_DB" value="sqlite://localhost/:memory:"/>
    <env name="DTT_BASE_URL" value="http://localhost"/>
    <env name="BROWSERTEST_OUTPUT_DIRECTORY" value="sites/simpletest"/>
  </php>
  <testsuites>
    <testsuite name="starterkit">
      <directory>docroot/modules/custom</directory>
      <directory>docroot/themes/custom</directory>
    </testsuite>
  </testsuites>
  <extensions>
    <bootstrap class="Drupal\TestTools\Extension\HtmlLogging\HtmlOutputLogger">
      <parameter name="outputDirectory" value="sites/simpletest/browser_output"/>
      <parameter name="verbose" value="true"/>
    </bootstrap>
    <bootstrap class="Drupal\TestTools\Extension\Dump\DebugDump">
      <parameter name="colors" value="true"/>
      <parameter name="printCaller" value="true"/>
    </bootstrap>
  </extensions>
  <!-- Suppressed (@trigger_error) deprecations stay hidden: contrib raises
       them during cache rebuilds, so the count changes from run to run.
       phpstan-deprecation-rules covers deprecated API use in custom code. -->
  <source>
    <include>
      <directory>docroot/modules/custom</directory>
      <directory>docroot/themes/custom</directory>
    </include>
    <exclude>
      <directory>docroot/modules/custom/*/tests</directory>
      <directory>docroot/themes/custom/*/tests</directory>
    </exclude>
  </source>
</phpunit>
