// ALL
// =============================================================================
.node {
  .field__label {
    color: $blue;
  }

  &__subtitle {
    color: $blue;
    font-weight: bold;
  }

  &__meta-fields {
    @include paragraph;
    margin-bottom: $base-unit * 3;
  }
}

// FULL CONTENT
// =============================================================================
.node--view-mode-full {
  a {
    @include paragraph-anchor;
  }
  .field--name-body {
    p {
      margin-bottom: 2 * $base-unit;
    }
  }

  .field--name-body:not(:last-child) {
    margin-bottom: 3 * $base-unit;
  }
}

// TEASER
// =============================================================================
.teaser {
  border: 4px solid $blue;
  border-radius: 3px;
  padding: $base-unit * 2;
  transition: border-color $transition;

  &__title {
    color: $blue;
    font-weight: bold;
    line-height: 1.3;
    margin-bottom: $base-unit * 3;
  }

  &__link {
    &:hover,
    &:focus {
      .teaser {
        border-color: $red;
      }
    }
  }
}
