// FULL CONTENT
// =============================================================================
.session {
  &__subtitle {
    color: $blue;
    font-weight: bold;
    text-transform: uppercase;
  }

  .node__meta-fields {
    .field {
      margin-bottom: $base-unit;
    }
  }

  .field--name-field-session-speaker {
    @include paragraph;
    text-transform: uppercase;
  }
}

// TEASER
// =============================================================================
.session-teaser {
  &__speaker {
    color: $blue;
    font-weight: bold;
  }
}

// FEATURED
// =============================================================================
.session-featured {

  h4 {
    margin: 0.25rem 0 0.5rem;
  }

  .field--name-field-speaker-images {
    .field__item {
      display: inline-block;

      img {
        border-radius: 50%;
        height: auto;
        width: 96px;
      }

      & + .field__item {
        margin-left: 0.5rem;
      }
    }
  }

  .button-wrap {
    margin-top: 1rem;
  }
}
