// FULL CONTENT
// =============================================================================
.session {
  &__subtitle {
    color: $blue;
    font-weight: bold;
    text-transform: uppercase;
  }

  .node__meta-fields {
    .field {
      margin-bottom: $base-unit;
    }
  }

  .field--name-field-session-speaker {
    @include paragraph;
    text-transform: uppercase;
  }
}

// TEASER
// =============================================================================
.session-teaser {
  &__speaker {
    color: $blue;
    font-weight: bold;
  }
}
