// =============================================================================

$base-font-size:    16px;
$base-line-height:  28px;

// FONT INCLUDES
// =============================================================================

// @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

// @font-face {
//   font-family: 'iconfont';
//   src: url('../fonts/iconfont.eot');
//   src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
//        url('../fonts/iconfont.woff2') format('woff2'),
//        url('../fonts/iconfont.woff') format('woff'),
//        url('../fonts/iconfont.ttf') format('truetype'),
//        url('../fonts/iconfont.svg#weathertimeregular') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

// FONT MIXINS
// =============================================================================

@mixin font-regular {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 300;
}

@mixin font-semibold {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
}

@mixin font-bold {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 600;
}

@mixin h1 {
  @include font-bold;
  font-size: rem(48px);
}

@mixin h2 {
  font-size: rem(34px);
}

@mixin h3 {
  font-size: rem(22px);
}

@mixin h4 {
  font-size: rem(18px);
}

