.idea

#Exports
*.gz
*.sql
*.zip
.env

/scripts/ci/id_rsa*
scripts/nginx-conf-generator/node_modules

.lando.local.yml
/frontend/.nuxt
frontend/.eslintcache

files-private
!deploy/Docker/database/mysql/init/01-databases.sql

drupal/docroot/sites/simpletest/*/*
drupal/docroot/sites/simpletest/*
drupal/lando/.phpunit.result.cache

drupal/.phpunit.result.cache

frontend/node_modules
ecosystem.config.js
scripts/loadtest/__pycache__
scripts/loadtest/.venv
scripts/crawler/node_modules
/id_ed25519
/id_ed25519.pub
cli/
.npm_global_cache

# Local Netlify folder
.netlify
