.view-sessions {
  .view-header {
    margin-bottom: $base-unit * 10;
  }

  .views-row {
    margin-bottom: $base-unit * 5;
  }
}

.view-session-schedule {
  h2 {
    padding-top: 20px;
  }
  
  h3 {
    padding-top: 20px;
  }
}
