.view-sessions {
  padding-top: 20px;


  .view-content {
    margin-bottom:  10px;
  }

  .views-row {
    margin:30px 0 40px 0;
  }

  .views-field {
    line-height: 1.5;
  }

  h2.views-field {
    font-weight: normal;
    line-height:1;
    margin-bottom:20px;
  }

  .views-label {
    clear: both;
    float: left;
    font-size:80%;
    text-decoration: none;
    margin-right:10px;
  }

  .field-content {
    font-size:80%;
    font-weight:bold;
  }

  .views-field-body {
    clear: both;
    padding-top: 15px;
  }


  .view-header {
    h2 {
      padding-top:20px;
    }
  }
}



.view-session-schedule {
  h2 {
      padding-top:20px;
  }
  
  h3 {
      padding-top:20px;
  }
}
