// Content bottom region is used for sponsors' blocks.
.content-bottom {
  background: $white;
  padding: $base-unit * 5 $base-unit * 5 0;

  .region-content-bottom {
    margin: 0 auto;
    max-width: 960px;
  }

  .block {
    border-top: 4px solid $grey;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: $base-unit * 5;
    text-align: center;
  }

  h2 {
    @include paragraph;
    background-color: $white;
    bottom: 1em;
    color: $blue;
    display: inline-block;
    font-weight: bold;
    padding: 0 $base-unit;
    position: relative;
    text-align: center;
    text-transform: none;
  }
}

#block-thanks-to-our-sponsors {
  border-top: none;
  
  h2 {
    @include font-slab-thick;
    @include font-size(24px);
    bottom: 0;
    text-transform: uppercase;
  }
}

.view-sponsors {
  .view-content {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .views-row {
    padding: $base-unit;
    margin: $base-unit;
  }
}
