#block-thanks-to-our-sponsors,
#block-views-block-sponsors-block-3,
#block-views-block-sponsors-block-4,
#block-views-block-sponsors-block-5,
#block-views-block-sponsors-block-6,
#block-views-block-sponsors-block-7,
#block-views-block-sponsors-block-8,
#block-views-block-sponsors-block-9,
.path-sponsors .block-region-main {
  margin-top: 1em;

  h2 {
    text-align: center;
  }
}

.view-sponsors {
  .view-content {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    width: 100%;
  }
  .views-row {
    width: 50%;
  }

  .views-row {
    article {
      padding: 1em;
    }
    a {
      display: block;
    }
    .field--name-field-sponsor-image {
      text-align: center;
    }
  }
  @include breakpoint($tablet-up) {
    .view-content {
      max-width: $wide;
      margin: 0 auto;
    }
    .views-row {
      width: 33%;
    }
  }
  .sponsors {
    position: relative;

    img {
      max-width: 160px;
      z-index: 10;
      display: inline-block;
      transition: transform 0.4s;
    }

    .hover-fields-wrapper {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      padding: 20px;
      background: rgba(220,220,220,0.1);
      height: 100%;
      width: 100%;
    }

    .hover-fields {
      font-size: 0.9em;
    }
  }
}

