.view-sponsors {
  .views-row {
    display: inline-block;
    margin: 0;
    position: relative;
    width: 440px;
    padding: 20px;
    text-align: left;
  }

  .sponsors {
    &:hover {
      img {
        transform: translateY(-90px) scale(0.4);
      }
      .hover-fields-wrapper {
        display: inline-block;
      }
    }

    img {
      max-width: 100%;
      display: block;
      position: relative;
      z-index: 10;
      transition: transform 0.4s;
    }

    .hover-fields-wrapper {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      padding: 20px;
      background: rgba(200,200,200,0.1);
      height: 100%;
      width: 100%;
    }

    .hover-fields {
      margin-top: 30%;
      font-size: 0.9em;
    }
  }
}

