@mixin button {
  padding: 12px 32px;
  border-radius: 5px;
  border-style: none;
  color: $white !important;
  background-color: $red;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.8s ease;
  &:focus,
  &:hover {
    background-color: $red-shade;
  }
}

.button {
  &,
  .rt & {
    @include button();
    font-size: 18px;
    font-weight: 500;
    padding: 10px 32px;
  }
}
