// LINK STYLES
// =============================================================================
a:link,
a:visited {
  @include font-semibold;
  text-decoration: none;
  color: $blue;
}

a {
  transition: 0.6s all ease;
}

a:focus,
a:hover {
  text-decoration: none;
  cursor: pointer;
  color: $blue;
}
