// LISTS
// =============================================================================

ol,
ul {
  @include font-light;
  @include font-size(18px,true);
  line-height: 32px;
  margin: .75rem 0 .75rem 1rem;
  p,
  li {
    padding: 0;
    margin: 0 0 .25rem;
  }
}

.item-list{
  ul{
    margin: 0;
    li{ margin: 0; }
  }
}
