// BASE FONT
// =============================================================================

html {
  @include font-regular;
  @include font-size(24px,true);
  @include breakpoint($mobile) {
    font-size: 87.5%;
    line-height: 1.5;
  }
  -webkit-font-smoothing: antialiased;
}

// HEADER STYLES
// =============================================================================
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
  text-transform: uppercase;
}

h1 {
 @include h1;
}

h2 {
  @include h2;
  line-height: 40px;
  @include font-size(36px,true);
}

h3 {
  @include h3;
  line-height: 36px;
  @include font-size(24px,true);
}

h4 {
  @include h4;
  @include font-size(18px,true);
  margin: 0;
}

// TEXT STYLES
// =============================================================================
b,
em,
strong {
  @include font-semibold;
}

@mixin paragraph() {
  @include font-light;
  line-height: 32px;
  @include font-size(18px,true);
}

@mixin paragraph-anchor($color: $blue, $active-color: $red, $invert-color: $white) {
  @include font-semibold;
  text-decoration: none;
  color: $color;
  display: inline-block;
  padding: 2px 1px;
  box-shadow: inset 0 -1px 0 0 $active-color;
  &:focus,
  &:hover {
    color: $active-color;
    box-shadow: inset 0 -1px 0 0 $active-color;
  }
  &:active {
    color: $invert-color;
    box-shadow: inset 0 -1px 0 0 $active-color;
  }
}

p {
  @include paragraph;
}
.rt {
  h2 {
    margin-top: 1rem;
    margin-bottom: .75rem;
  }
  h3 {
    margin-top: 1rem;
    margin-bottom: .75rem;
  }
  h4 {
    margin-top: 1rem;
    margin-bottom: .5rem;
  }
}
.title {
  small {
    font-size: .75em;
    line-height: 1;
  }
}
