// BASE FONT
// =============================================================================

html {
  @include font-regular;
  @include font-size($base-font-size,true);
  @include breakpoint($mobile) {
    font-size: 87.5%;
    line-height: 1.5;
  }
  -webkit-font-smoothing: antialiased;
}

// HEADER STYLES
// =============================================================================
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black;
  line-height: 1.1em;
  margin-bottom: 20px;
}

h1 {
  @include h1;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

h4 {
  @include h4;
  margin: 0;
}

// TEXT STYLES
// =============================================================================
b, em, strong {
  @include font-bold;
}
