// BREAKPOINT VARIABLES
// =============================================================================

$tablet-up: 768px;
$desktop-up: 935px;
$almost-wide: 1070px;
$wide: 1200px;

$small: max-width 480px;
$mobile: max-width ($tablet-up - 1px);
$tablet: max-width ($desktop-up - 1px);
$desktop: max-width ($almost-wide - 1px);

$mobile-only: $mobile;
$tablet-only: ($tablet-up + 1px) ($desktop-up - 1px);


// JAVASCRIPT BREAKPOINTS
// =============================================================================

html:before {
  content: "desktop";
  display: none; /* Prevent from displaying. */
}
@include breakpoint($tablet) {
  html:before {
    content: "tablet";
  }
}
@include breakpoint($mobile) {
  html:before {
    content: "mobile";
  }
}
