// MOST COMMONLY USED COLORS THROUGHOUT THEME
// =============================================================================

$black: #000;
$white: #fff;
$grey: #ddd;

// CUSTOM COLORS
$green: green;
$red: red;
$orange: orange;
$blue: blue;

$body-text: $black;

$link: $blue;

// ======================
// DEFAULT SYSTEM COLORS

$system__pink: #F9D5DB; // For errors i.e.
$system__blue: #D9EDF7; // For system messages i.e.
