// MOST COMMONLY USED COLORS THROUGHOUT THEME
// =============================================================================

$black: #000;
$white: #fff;
$grey: #ddd;
$light-grey: #eee;

// CUSTOM COLORS
$red: #e03628;
$blue: #0e2d40;
$red-shade: rgba(224,54,40,0.7);
$blue-shade: rgba(14,45,64,0.85);
$ioblack: #231f20;

$twitter: #2ca9e0;

$body-text: $black;
$body-grey: #545454;

$link: $blue;

$green: #dfffa2;

// ======================
// DEFAULT SYSTEM COLORS

$system__pink: #F9D5DB; // For errors i.e.
$system__blue: #D9EDF7; // For system messages i.e.
