// BASE UNIT
// =============================================================================
$base-unit: 8px;

:root {
  --base-unit: 8px;
  --container-width: 1040px;
  --column-width: 40px;
  --gutter-width: 20px;
}

// BORDER BOX
// =============================================================================
*, *::before, *::after {
  box-sizing: border-box;
}

// GENERAL BREAKPOINTS
// =============================================================================
.grid {
  padding: 0 15px;
  display: grid;
  grid-template-columns: repeat(12, var(--column-width));
  grid-gap: var(--gutter-width);

  @media (min-width: 768px) {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 40px;
  }

  @media (min-width: 1200px) {
    max-width: calc(var(--column-width) * 8 + var(--gutter-width) * 7);
  }

  @media (min-width: 1440px) {
    max-width: calc(var(--column-width) * 6 + var(--gutter-width) * 5);
  }

  @media (max-width: 600px) {
    max-width: calc(var(--column-width) * 4 + var(--gutter-width) * 3);
  }
}
