.content-wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
  .path-frontpage & {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.session--view-mode-teaser {
  .field {
    @include clearfix;
    @include paragraph;
    margin: 0;
  }
}
.panel--white {
  background-color: $white;
}
.panel--red {
  background-color: $red;
}
.panel--blue {
  background-color: $blue;
}
