.site-footer {
  background: $white;
  padding-top: $base-unit * 5;
}

a.footer__link {
  @include paragraph-anchor($white);

  box-shadow: none;
}

.footer__hosting-text {
  color: $ioblack;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.footer__hosting-logo {
  box-shadow: none;
  display: block;
  height: 86px;
  width: 66px;
  margin: 0 auto 2rem;
  opacity: 1;
  text-decoration: none;
  transition: all 0.5s ease-out;

  &:hover {
    opacity: 0.5;
  }
}

.footer__lower {
  background: $blue;
  color: $white;
  font-size: 16px;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

.footer__links-list {
  display: inline-flex;
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.footer__link-item {
  margin-right: 10px;

  &:not(:last-child)::after {
    content: '-';
    margin-left: 10px;
  }
}
