.site-footer {
  background: $white;
  padding-top: $base-unit * 5;
}

a.footer__link {
  @include paragraph-anchor($white);

  box-shadow: none;
}

.footer__upper {
  background: $grey;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: $base-unit * 3;
}

.footer__partner {
  display: inline-block;
  padding: 0 $base-unit * 5;
  text-align: center;

  &-text {
    color: $ioblack;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  &-logo {
    display: inline-block;
    max-width: 200px;
    transition: opacity $transition;

    &:hover,
    &:focus {
      opacity: 0.5;
    }
  }
}

.footer__lower {
  background: $blue;
  color: $white;
  font-size: 16px;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

.footer__links-list {
  display: inline-flex;
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.footer__link-item {
  margin-right: 10px;

  &:not(:last-child)::after {
    content: '-';
    margin-left: 10px;
  }
}
