.block-system-branding-block{
  float: left;
  .site-logo{ display: none; }
}

.top-banner-image{
  background-image: url(../images/top-banner-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 130px 0;
  display: table;
  width: 100%;
  .wrap-logo-image{
    width: 500px;
    margin: 0 auto;
    @include breakpoint($mobile){
      width: 250px;
    }
    img{
      height: auto;
      display: table-cell;
      align-items: center;
    }
  }
}

// RESPONSIVE DESIGN
// =============================================================================
