// NAVIGATION STYLES
// =============================================================================
$header: 80px;

header.header {
  border-bottom: 2px solid $blue;
  background-color: $white;
  width: 100%;
  z-index: 100;
  height: $header;
  @include clearfix;
  .inner {
    position: relative;
    max-width: $wide;
    margin: 0 auto;
    padding: 0 12px;
    .site-name {
      display: flex;
      align-content: flex-start;
      align-items: center;
      height: $header;
      float: left;
      a {
        @include font-slab-bolder;
        @include font-size(18px, false);
        display: block;
        line-height: 1;
        text-transform: uppercase;
        float: left;
        color: $blue;
        span {
          color: $red;
        }
      }
    }
  }
  @include breakpoint($desktop) {
    &.expanded {
      height: auto;
      .menu--main {
        display: block;
        width: 100%;
      }
    }
  }
  .menu--main {
    background-color: $white;
    float: right;
    display: none;
    a {
      @include font-bold;
      font-size: .75rem;
      display: block;
      line-height: 1;
      text-transform: uppercase;
      padding: $header / 4 $header / 6;
      &:focus,
      &:hover,
        //&.is-active,
      &.scrolled {
        color: $red;
      }
    }
    ul {
      margin-left: 0;
    }
    li {
      margin: 0;
      padding: 0;
      width: 100%;
      border-bottom: 1px solid $blue;
      &:last-child {
        width: 100%;
        height: $header;
        display: flex;
        align-items: center;
        border-bottom: 0px solid transparent;
        a.button-cta {
          width: auto;
          @include button;
          color: $blue;
        }
      }
    }
  }
}

.menu-toggle {
  position: absolute;
  right: 1rem;
  top: 1rem;
  display: block;
  a {
    cursor: pointer;
    position: relative;
    display: block;
    float: right;
    width: 24px;
    height: 18px;
    padding: 20px;
    @include transition(all 0.25s ease);
    span,
    span:before,
    span:after {
      content: '';
      position: absolute;
      display: block;
      cursor: pointer;
      height: 3px;
      width: 24px;
      background: $blue;
      @include transition(all 0.1s ease-in-out);
    }
    span {
      text-indent: -9999px;
      top: 17px;
      right: 7.5px;
      &:before {
        top: -7px;
      }
      &:after {
        top: 7px;
      }
    }
    &:focus,
    &:hover {
      span {
        &:before {
          top: -8px;
        }
        &:after {
          top: 8px;
        }
      }
    }

    &.expanded {
      span {
        background-color: transparent;
        &:before, &:after {
          top: 0;
          background: $blue;
        }
        &:before {
          @include rotate(-45deg);
        }
        &:after {
          @include rotate(45deg);
        }
      }
    }
  }
}

@include breakpoint($desktop-up) {
  header.header .menu--main {
    display: block;
    float: right;
    height: $header - 2px;
    ul.menu {
      height: $header - 2px;
      a {
        @include font-bold;
        font-size: .75rem;
        display: block;
        line-height: 1;
        text-transform: uppercase;
        padding: $header / 4 $header / 8;

      }
      li {
        width: auto;
        display: flex;
        align-content: flex-start;
        align-items: center;
        //margin: 0 4px;
        padding: 0;
        float: left;
        height: 100%;
        border-bottom: none;
        &:last-child {
          margin-right: 0;
          a.button-cta {
            max-width: 5rem;
            text-align: center;
            padding: 10px;
          }
        }
      }
    }
  }
  .menu-toggle {
    display: none;
  }
}

// hide front page id links
@media (min-width: #{$desktop-up}) and (max-width: 1170px) {
  header.header .menu--main .menu {
    a[href^="/#"] {
      display: none;
    }
  }
}
