// NAVIGATION STYLES
// =============================================================================
$inner-padding: 12px;

.header {
  @include clearfix;
  border-bottom: 2px solid $blue;
  background-color: $white;
  width: 100%;
  z-index: 100;
  height: $header;

  &.expanded {
    height: auto;
  }

  &__inner {
    @include center;
    max-width: $wide;
    margin: 0 auto;
    padding: 0 $inner-padding;
    justify-content: space-between;

    .expanded & {
      height: auto;
      flex-direction: column;

      > *:not(.menu-toggle) {
        width: 100%;
      }
    }
  }
}

.site-name {
  &__wrapper {
    @include center;
    height: $header;
  }

  &__title {
    @at-root a#{&} {
      @include font-slab-bolder;
      @include font-size(18px, false);
      font-weight: 700;
      display: block;
      line-height: 1;
      text-transform: uppercase;
      color: $blue;

      span {
        color: $red;
      }
    }
  }

  &__logo {
    width: 40px;
    margin: -10px 10px 0 0;
  }
}

.menu-toggle {
  @include center;
  position: absolute;
  right: $inner-padding;
  top: 0;

  @include breakpoint($almost-wide) {
    display: none;
  }

  &__button {
    @include reset-button;
    @include transition(all 0.25s ease);
    cursor: pointer;
    position: relative;
    display: block;
    width: 24px;
    height: 18px;
    padding: 20px;

    &:focus,
    &:hover {
      .menu-toggle__icon:not(.expanded)::before {
        top: -8px;
      }

      .menu-toggle__icon:not(.expanded)::after {
        top: 8px;
      }
    }
  }

  &__icon {
    @include toggle-line;
    @include transition(all 0.1s ease-in-out);
    top: 17px;
    right: 7.5px;

    &::before,
    &::after {
      @include toggle-line;
      content: '';
    }

    &:before {
      top: -7px;
    }

    &:after {
      top: 7px;
    }

    &.expanded {
      background-color: transparent;

      &:before,
      &:after {
        top: 0;
        background: $blue;
      }

      &:before {
        @include rotate(-45deg);
      }

      &:after {
        @include rotate(45deg);
      }
    }
  }
}

.navigation-wrapper {
  display: none;

  @include breakpoint($almost-wide) {
    @include center;
  }

  .expanded & {
    display: block;
  }

  .menu {
    margin: 0;

    @include breakpoint($almost-wide) {
      @include center;
    }
  }

  .menu-item {
    padding: 0;
    border-bottom: 1px solid #0e2d40;

    @include breakpoint($almost-wide) {
      border: none;
    }

    a {
      @include menu-link;

      &.button-cta {
        @include button;
        display: inline-block;
        width: auto;
        color: $blue;
        margin: Calc($header / 4 - 10px) 0;

        @include breakpoint($almost-wide) {
          padding: 10px;
        }
      }
    }
  }
}

// hide front page id links
@media (min-width: #{$desktop-up}) and (max-width: 1170px) {
  header.header .menu--main .menu {
    a[href^='/#'] {
      display: none;
    }
  }
}
