.field--name-field-tags {
  .field__item {
    background-color: $blue-shade;
    color: $white;
    display: inline-block;
    font-size: 14px;
    line-height: 2;
    margin-right: 1em;
    padding: 0 1em 0.2em;
  }
}
