// USER LOGGED-IN
// =============================================================================


.user-logged-in, .path-user{
  .toolbar-bar{ position: fixed; }
  header.header{
    margin-top: 80px;
    border-bottom: 2px solid $blue;
    @include breakpoint($tablet) {
      margin-top: 40px;
    }
  }
}
