.eu-cookie-compliance-banner {
  padding: 0.1rem;
  .agree-button {
    &:hover {
      background-color: $blue;
    }
  }
  .decline-button {
    background-color: $blue;
    &:hover {
      background-color: $red;
    }
  }
}
