#sliding-popup {
  padding: 0.2rem;
  #popup-buttons {
    button.agree-button {
      &:hover {
        background-color: $blue;
      }
    }
    button.decline-buttonn {
      background-color: $blue;
      &:hover {
        background-color: $red;
      }
    }
  }
}
