.join-us{
  background-color: $white;
  padding: 70px 0 30px;
  text-align: center;
  h1{
    color: $red;
    @include font-thick;
    margin-bottom: 30px;
    @include breakpoint($tablet){
      font-size: 35px;
      line-height: 40px;
    }
  }
  p{
    color: $body-text;
    margin-bottom: 50px;
  }
  a.button{
    @include font-semibold;
  }

  form {
    width: 300px;
    margin: 0 auto;
    text-align: left;
    input[type=text],
    input[type=email] {
      width: 100%;
    }
    .name, .email {
      label {
        display: block;
      }
      margin-bottom: 10px;
    }
    .interest {
      label.checkbox-label {
        display: block;
      }
      margin-bottom: 10px;
    }
  }
}
