.call-speakers-sponsors{
  background-color: $blue;
  h1{
    color: $white;
    text-align: center;
  }
  p{
    color: $white;
    text-align: center;
    padding: 25px 0;
  }
  .action-buttons{
    @include breakpoint($small){
      text-align: center;
    }
    .button{
      clear: both;
      text-align: center;
      width: 200px;
      @include font-semibold;
      @include breakpoint($small){
        margin-bottom: 10px;
        display: block;
        width: 100%;
        margin-left: 0;
      }
    }
    .sponsor-button{
      display: inline;
      @include breakpoint($tablet){
        display: none;
      }
    }
    .mobile-sponsor-button{
      display: none;
      @include breakpoint($tablet){
        display: inline;
      }
    }
  }
  .rtecenter{
    margin-top: 25px;
  }
  .sponsor-grid {
    //display: none;
  }
  .sponsor-list {
    margin: 0 auto;
    width: 100%;
    display: none;
    clear:both;
    text-align: center;
    h4 {
      text-transform: uppercase;
      margin-bottom:1em;
    }
    .diamond,.gold,.silver,.platinum {
      h4{
        font-weight: 600;
        margin-top: 60px;
      }
    }
    .gold {
      h4{
        margin-top: 40px;
      }
    }
    .col-2, .col-3, .col-4 {
      display: block;
      margin: 2em auto;
      width: 80%;
      &:after{
        content: '';
        width: 60%;
        margin-top: 75px;
        margin-left: 20%;
        height: 1px;
        background: white;
        display: block;
        transform: rotate(15deg);
      }
      ul {
        li {
          text-align: center;
          margin:0 auto 0.5em auto;
          height: auto;
          vertical-align: middle;
          color:$white;
          list-style: none;
          &.prices {
            margin: 1em auto 2em;
            text-transform: uppercase;
            width: 100%;
            text-align: center;
            list-style: none;
            strong{
              @include font-bold;
              @include font-size(18px,true);
            }
          }
        }
      }
    }

    .col-4{
      margin-bottom: 50px;
      &::after {
      display: none;
      }
    }
    .diamond,.platinum {
      h4 { color:$white !important;}
      ul {
        li {
          color:$white;
          &.prices {
            color:$white
          }
        }
      }
    }
    .gold {
      h4 { color:$white !important;}
      ul {
        li {
          color:$white;
          &.prices {
            color:$white
          }
        }
      }
    }
    .silver {
      h4 { color:$white !important;}
      ul {
        li {
          color:$white;
          &.prices {
            color:$white;
          }
        }
      }
    }

  }
  position: relative;
  /* z-index: 100; */
  @include translateZ(1px);
  .pane-node-title {
    padding: 4rem 1rem 2rem;
  }
  .field-name-body {
    padding: 0rem 1rem;
    color: $white;
  }
  h2 { color:$white;}

  h3 {
    text-align: center;
    color:$white;
    strong{
      font-weight: 800;

    }
  }
  &.webform {
     h2.orange {
       color:$white;
       @include h2;
       margin-bottom: 2rem;
     }
  }
  .sponsor-grid {
    h4 {
      text-transform: uppercase;
      margin-bottom:2em;
    }
    @include flex;
    .col-1, .col-2, .col-3, .col-4 {
      //@include justify-content(center);
      margin: 1em auto;
      ul {
        li {
          text-align: center;
          margin:0 auto 25px auto;
          height: 40px;
          vertical-align: middle;
          color:$white;
          //padding-top: 0.5em;
          a{
            @include font-regular;
          }
          &.tick {
            @include border-radius(50%);
            height: 40px;
            width: 40px;
            padding: 0.1em;
            text-align: center;
            margin: 0.2em auto 25px;
            color:$white;
            @include font-size(18px);
          }
        }
      }
    }
    .col-1 {
      order:1;
      h4 {
        color:$white !important;
        text-align: left;
        font-weight: 600;
      }
      ul {
        li {
          text-align: left;
          margin: 0 0 26.5px;
          line-height: 20px;
          height: 39px;
          color:$white;
          list-style: none;
          @include font-size(18px,true);
        }
      }
    }
    .col-2, .col-3, .col-4  {
      width:144px;
      text-align: center;
      //border-right: 1px solid $white;
      //border-left: 1px solid $white;
      ul {
        list-style: none;
        li {
          list-style: none;
          width: 2em;
          &.numbers {
            padding-top: 7px;
          }
          &.prices {
            text-transform: uppercase;
            width: 100%;
            text-align: center;
            @include font-bold;
            font-weight: 600;
          }
        }
      }
    }
    .col-2 {order:2;}
    .col-3 {order:3;}
    .col-4 {order:3;}
    .diamond,.gold,.silver,.platinum {
      h4{
        font-weight: 600;
      }
    }
    .diamond,.platinum {
      h4 {
        color:$white !important;
      }
      ul {
        li {
          color:$white;
          &.tick {
            background-color:$red !important;
          }
        }
      }
    }
    .gold {
      h4 {
        color:$white !important;
      }
      ul {
        li {
          color:$white;
          &.tick {
            background-color:$red !important;
          }
        }
      }
    }
    .silver {
      h4 {
        color:$white !important;
      }
      ul {
        li {
          color:$white;
          &.tick {
            background-color:$red !important;
          }
        }
      }
    }
    &.additional .col-2 {
      width: 400px;
      ul li {
        width: auto;
      }
    }
  }
}


// Sponsor Page STYLES
// =============================================================================




@include breakpoint($mobile) {
  .call-speakers-sponsors {
    .sponsor-grid {
      display: none !important;
    }
    .sponsor-list {
      display: inline-block;
    }
  }
}

@include breakpoint($tablet) {
  .call-speakers-sponsors {
    .sponsor-list ul li{
      @include font-size(16px,true);
    }
    h4 { font-weight: 600}
    .sponsor-grid {
      display: none !important;
    }
    .sponsor-list {
      display: inline-block;
    }
    .action-buttons-mobile{
        margin-top: 50px;

    }

  }
}
