.splash-awards {
  background-color: #020202;
  padding: 3rem 0;

  @include breakpoint($mobile) {
    padding: 50px 0;
  }

  .inner {
    display: flex;

    @include breakpoint($mobile) {
      display: block;
    }
  }

  .splash-logo {
    width: 30%;
  }

  h1 {
    margin-bottom: 15px;
    @include breakpoint($tablet) {
      font-size: 35px;
      line-height: 40px;
    }
    @include font-thick;
    color: $white;
  }

  h1,h2,p,a {
    text-align: center;
    color: $white;
  }
}
