// CUSTOM WEATHER STYLES
// =============================================================================
.weather-wrapper {
  @include breakpoint($almost-wide) {
    @include center;
  }

  .block-weather-block {
    @include breakpoint($almost-wide) {
      height: 100%;
    }
  }

  .current-temperature {
    @include menu-link;
  }

  li {
    @include breakpoint($desktop) {
      display: block;

      &:hover,
      &:focus {
        .daily-forecast-wrapper {
          display: none;
        }
      }
    }

    .toggle {
      @include menu-link;
      display: none;
      white-space: nowrap;
      text-indent: -9999px;
      position: absolute;
      overflow: hidden;
      right: 12px;
      background: none;
      border: none;
      width: 50px;
      background-image: url(../images/icons/wi-direction-down.svg);
      background-position: center;
      transition: all 0.1s ease-in-out;

      @include breakpoint($desktop) {
        display: block;
      }
    }

    &.active {
      .current-temperature {
        @include breakpoint($desktop) {
          border-bottom: 1px solid #0e2d40;
        }
      }

      .toggle {
        transform: rotate(180deg);
      }

      .daily-forecast-wrapper {
        display: flex;

        @include breakpoint($desktop) {
          display: block;
          position: static;
          border-bottom: 0;
        }

        @include breakpoint($tablet) {
          ul li:last-child {
            display: none;
          }
        }

        @include breakpoint($mobile) {
          ul li:nth-last-child(-n + 2) {
            display: none;
          }
        }

        @include breakpoint($small) {
          ul li:nth-last-child(-n + 3) {
            display: none;
          }
        }
      }
    }
  }
}
